<h1 align="center">All Bloggers</h1>
<div align="center">
  <%= will_paginate %>
  <% @users.each do |user| %>
    <ul class="listing">
      <div class="card border-default" style="width: 20rem;">
        <div class="card bg-light">
          <li><%= link_to gravatar_for(user), user_path(user) %></li>
          <li><h3><%= link_to user.username, user_path(user) %></h3></li>
          <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate %>
</div>
